/Code/Museu/.project
/Code/Museu/assets
/Code/Museu/assets/*
/Code/Museu/nbproject
/Code/Museu/nbproject/*
/Code/Museu/nbproject/private/
/Code/Museu/.metadata
/Code/Museu/.metadata/*
/Code/Museu/.buildpath
/Code/Museu/.project
.metadata
.buildpath
.project
Code/Museu/assets
Code/Museu/assets/*
Code/Museu/nbproject
Code/Museu/nbproject/*
Code/Museu/protected/runtime/application.log
Code/Museu/protected/runtime/application.log
